.product-page-listing-v2-website {
    background-color: #fafafa;
    .hero-banner {
        margin-bottom: 0px;
    } // -----------
    .listing-wrapper {
        .view {
            margin-left: 26px;
            margin-top: 28px;
            li {
                margin-bottom: 35px!important;
            }
        } //background-color: #ccc;
        padding-bottom: 50px;
        .single-box-listing {
            //background-color: red;
            float: left;
            width: 100%;
            margin-top: 0px!important;
            margin-bottom: 60px;
            .featured-image {
                img {
                    height: auto;
                }
            }
        }
        .listing-pagination {
            margin-top: 0px;
        }
        &.tiles {
            .single-box-listing {
                margin-bottom: 40px!important;
                &:nth-child(even) {
                    margin-left: 30px!important;
                    @media screen and (max-width: 767px) {
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
    &.team-members.hs-blog-listing {
        .hero-banner {
            margin-bottom: 0;
        }
        .right-sidebar, .listing-wrapper.tiles {
            padding-top: 35px;
            
        }
        .listing-wrapper.tiles {
            .single-post {
                margin: 15px 10px !important;
				max-width: 240px;
				overflow: hidden;
				.hover {
					clip: auto;
					display: block;
					height: 64px;
					top: auto;
					bottom: 0;
					color: #fff;
					padding: 10px;
					h4 {
						margin: 0 0 10px;
						font-weight: 300;
						font-size: 20px;
					}
					h4, p, a {
						color: inherit;
						text-align: left;
					}
					a, p {
						display: block;
                        margin-top: 0;
						margin-bottom: 10px;
						&:last-of-type {
							margin-bottom: 5px;
						}
					}
					i {
						font-size: 24px;
					}
				}
				.image-wrapper {
					&:hover {
						.hover {
							height: 50%;
						}
					}
				}
            }
        }
        .pagination {
            padding-right: 30px;
            text-align: right;
            li {
                a {
                    line-height: 26px;
                }
            }
        }
        .widget-type-cta {
            margin: 0 0 30px;
        }
    }
}