.products-page {
	.main-separator {
		background-color: hubl("$first_color");
		.txt-cta-separator {
			min-height: 110px;			
			.separator-content {	
				padding: 20px 0;
				h3 {
					color: #fff;
				}		
			}
		}		
	}
}