@media only screen and (max-width : 768px) {
.sidebar-submenu{
    border-bottom: solid 1px #f6f6f6;
    border-top: solid 1px #f6f6f6;
    padding-top: 25px;
}

}

.sidebar-submenu{
    border-bottom: solid 1px #f6f6f6;
    margin-top: 10px;
}
.sidebar-submenu  .hs-menu-wrapper.hs-menu-flow-vertical li a {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: visible; 
    text-overflow: ellipsis;
    font-size: 16px;
}

.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
     visibility: hidden; 
     opacity: 1; 
     position: static; 
     top: 0;
     left: 0px;
     display: none;
}

.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical > ul li.show-submenu > ul.hs-menu-children-wrapper {
     visibility: visible; 
     opacity: 1; 
     position: static; 
     top: 0;
     left: 0px;
 }
.sidebar-submenu li.hs-item-has-children.hs-menu-item > a:after
{
    content: '+';
    padding-left: 10px;
}
.sidebar-submenu li.show-submenu.hs-item-has-children > a:after{
    content: '-';
    padding-left: 10px;
}
.sidebar-submenu ul li a{
    color: hubl("$main_font_color");
}

.sidebar-submenu {
    ul li a:hover, li.show-submenu > a{
        background: hubl("$cta_background");
        color: #fff;
    }

    &.staffing-color {
        ul li a:hover, li.show-submenu > a{
            background: #6A246A;
        }

        ul li.show-submenu > ul.hs-menu-children-wrapper{
            border-left: solid 1px #6A246A;
        }

        li.active-submenu{
            background: #6A246A;
        }

        li.active-submenu-pointer:before{
            background: #6A246A;
        }
        ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover:before{
            background: #6A246A;
        }
    }

    &.payroll-color {
        ul li a:hover, li.show-submenu > a{
            background: #00A15F;
        }
        ul li.show-submenu > ul.hs-menu-children-wrapper{
            border-left: solid 1px #00A15F;
        }

        li.active-submenu{
            background: #00A15F;
        }

        li.active-submenu-pointer:before{
            background: #00A15F;
        }
        ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover:before{
            background: #00A15F;
        }
    }

    &.technology-color {
        ul li a:hover, li.show-submenu > a{
            background: #00B6DD;
        }
        ul li.show-submenu > ul.hs-menu-children-wrapper{
            border-left: solid 1px #00B6DD;
        }

        li.active-submenu{
            background: #00B6DD;
        }

        li.active-submenu-pointer:before{
            background: #00B6DD;
        }
        ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover:before{
            background: #00B6DD;
        }
    }
}

.sidebar-submenu ul li.show-submenu > ul.hs-menu-children-wrapper{
    border-left: solid 1px hubl("$cta_background");
}
.sidebar-submenu ul li.hs-item-has-children > ul.hs-menu-children-wrapper li {
    border: none;
    position: relative;
}

.sidebar-submenu li.active-submenu{
    background:hubl("$cta_background");
    color: #fff;
} 
.sidebar-submenu li.active-submenu a{
    color: #fff;
} 

.sidebar-submenu li.active-submenu-pointer:before{
    content: "";
    display: block;
    background: hubl("$cta_background");
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top:18px;
} 

.sidebar-submenu ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover{
    background: none;
    color: hubl("$main_font_color");
}

.sidebar-submenu ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a:hover:before{
    content: "";
    display: block;
    background: hubl("$cta_background");
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top:18px;

}
.sidebar-submenu .hs-menu-wrapper.hs-menu-flow-vertical li a {
    @media (max-width: 767px) {
    font-size: 18px;
    }
}

