.product-single-website{
	.product-single__slider-section{
		h2{
			text-transform: none;
			font-weight: 300;
			span{
				letter-spacing: 3px;
			}
		}
	}
	@media only screen and (max-width: 867px) {
	    .iphone-section .iphone-column {
	        display:none;
	    }
	    .iphone-section .lead-section__content{
			width: 100%;
	    }
	}
}