.header-with-search.triangle-mask{

	h1{
		text-align: left;
		max-width: 50%;
		@media(max-width: 567px){
			max-width: 100%;
		}
		span{
			color:#fff;
		}
	}

	.description-header{
		z-index: 10;
		max-width: 1140px;
		padding: 0 15px;
	}

	.triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background: #d01b24;
        opacity: 0.65;
        z-index: 3;
        @media (max-width: 567px) {
            width: 100%; 
            opacity: 0.85;

        }
         &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 500px 500px 0 0;
            border-color: #d01b24 transparent transparent transparent;
            @media (max-width: 767px) {
                // border-width: 300px 300px 0 0;
            }
            @media (max-width: 567px) {
                display: none;
            }
        }
    }
    .triangle-below{
        position: absolute;
        top: 0;
        left: 0;
        width: calc(30% + 50px);
        height: 100%;
        background: #d01b24;
        opacity: 0.3;
        z-index: 2;
        @media (max-width: 767px) {
            // height: 300px;
        }
        @media (max-width: 567px) {
                display: none;
            }
        &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 500px 500px 0 0;
            border-color: #d01b24 transparent transparent transparent;
             @media (max-width: 767px) {
                // border-width: 300px 300px 0 0;
            }
        }
    }
    &.bottom{
        .triangle {
            &:after{
                border-width: 500px 0 0 500px;
                border-color:  transparent transparent transparent #d01b24;
                @media (max-width: 767px) {
                    // border-width: 300px 0 0 300px;
                }
            }

        }

        .triangle-below {
             &:after{
                border-width: 500px 0 0 500px;
                border-color:  transparent transparent transparent #d01b24;
                @media (max-width: 767px) {
                    // border-width: 300px 0 0 300px;
                }
            }
        }
    }
}