.product-smart{
	height: 400px;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.ios{
	.product-smart{
		background-attachment: scroll;
	}
}