.hco-jobs-ofer-search {

    &.careers-with-search .listing-careers-search .content-wrap span small {
        color: #999;
    }
    &.careers-with-search .listing-careers-search .content-wrap a:hover,
    &.careers-with-search .listing-careers-search .single-post:hover .content-wrap a {
        background-color: #051D49;
    } // Pagination
    .jobs-pagination {
        ul li a {
            line-height: 27px;
        }
    } // FORM
    .careers-form{
    	margin-top: 20px;
    	.careers-form-inner {
        background-color: rgba(153, 153, 153, 0.95);
        .careers-form-wrap {
            h3 {
                color: #fff;
            }
            input[type="submit"] {
                background-color: #fff;
                border: 2px solid #fff;
                color: hubl("$cta_background");
                &:hover {
                    color: #fff;
                    background-color: transparent;
                    border: 2px solid #fff;
                }
            }
        }
    }
    }
}