/*BLOG LISTING*/
.careers-with-search{
    background-color: #fff;
    &:not(.hs-blog-post) {
    background-color: #fafafa;
    }
    .careers-recent-post-heading{
        margin-top: 22px;
        margin-bottom: 27px; 
        h2{
            text-align: center;
            letter-spacing: 0.04em;
            span{
                letter-spacing: 3px;
            }
        }
    }
    .listing-careers-search{
        background-color: #fff;
        padding: 32px 0px 9px 0px;
        margin-bottom: 70px;
        .no-post{
            text-align: center;
            padding-bottom: 40px;
        }
        .legend{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1115px;
            margin: 0 auto;
            padding: 3px 20px 27px 20px;
            span{ 
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                &.first{
                    width: 65%;
                    padding-right: 10px;
                }
                &.second{
                    width:20%;
                    text-align: center;

                }
                &.third{
                    width:15%;
                }
            }
            @media only screen and (max-width : 777px){
                display: none;
            }
        }
        .single-post{
            max-width: 1115px;
            // background-color: red;
            margin: 0 auto;
            padding: 3px 20px 15px 20px;
            border-top: 1px solid #fafafa;
            border-radius: 5px;
            transition: all 0.5s ease;
            &:first-child{
                border-top: none;
            }
            &:hover{
                background-color: #fafafa;
                box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.11);
                .content-wrap{
                a{
                    color:#fff;
                    background-color: hubl("$cta_background");
                    }
                }
            }
            &:focus{
                background-color: #fafafa;
                box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.11);
                .content-wrap{
                a{
                    color:#fff;
                    background-color: hubl("$cta_background");
                    }
                }
            }
            @media only screen and (max-width : 486px){
                width: 95%;
            }
            h3{
                margin: 0px;
                padding: 0px;
                a{
                color: hubl("$main_font_color");
                font-size: 20px;
                line-height: 36px;
                font-size: 300;
                }
            }
        }
        .content-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @media only screen and (max-width : 777px){
                   flex-wrap: wrap;
                   justify-content: center;
                }
            @media only screen and (max-width : 486px){
                flex-direction:column;
                justify-content: center;
                align-items: center;
                flex-wrap: no-wrap;
            }
            p{
                color: #999999;
                font-size: 16px;
                margin: 0px;
                padding: 0px;
                display: block;
                width: 65%;
                padding-right: 10px;
                @media only screen and (max-width : 777px){
                    width: 100%;
                    order:1;
                    margin: 15px 0px;
                }
                @media only screen and (max-width : 486px){
                    width: 100%;
                    order:2;
                    margin: 15px 0px;
                }
            }
            span{
                font-size: 16px;
                color: #999999;
                display: block;
                width: 20%;
                // background-color: red;
                text-align: center;
                padding: 0px 10px 0px 10px;
                    

                small{
                    color: hubl("$cta_background");
                    font-size: 16px;
                }
                @media only screen and (max-width : 777px){
                    width: 50%;
                    order:2;
                    text-align: left;
                    padding: 0;
                }
                @media only screen and (max-width : 486px){
                    width: 100%;
                    order:1;
                    text-align: left;
                }
            }
            a{
                background-color: #fafafa;
                border: 1px solid #fafafa;
                width: 147px;
                border-radius: 5px;
                color: #999;
                font-size: 16px;
                display: inline-block;
                text-align: center;
                padding: 12px 0px;
                &:hover{
                    color:#fff;
                    background-color: hubl("$cta_background");
                }
                @media only screen and (max-width : 777px){
                    width: 50%;
                    order:3;
                }
                @media only screen and (max-width : 486px){
                    width: 100%;
                    order:3;
                }
            }
        }
    }

    // PAGINATION

    .jobs-pagination {
        width: 100%;
        padding-left: 0px;
        cursor: auto;
        .disabled {
            display: none;
        }
        .clearfix {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 59px;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            margin-right: 3px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl("$main_font_color");
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
        }
    }
    

    // SUBSCRIPTION SECTION 

    .blog-email-subscription-careers{
        min-height: 321px;
        .mask{
            background: hubl_rgba("$second_color", 0.6);
        }
        h2{
            color: #fff;
            font-size: 40px;
            text-transform: none;
            font-weight: 300;
            margin-bottom: 12px;
        }
        h3{
            font-size: 24px;
            margin-top:0px;
            padding-top: 0px;
        }
        input[type="email"]{
            width: 585px;
            @media screen and (max-width: 1000px) {
                width: 350px;
                margin-right: 0;
            }
            @media screen and (max-width: 480px) {
                width: 280px;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #FFF;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: #FFF;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: #FFF;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #FFF;
            }
        }
    }
}

/*SINGLE POST*/


    




