    // LISTING 
.hco-main-blog {

    .portfolio-menu-wraper ul.multi-blog li {
        a {
            padding: 0 20px;
            &:before {
                display: none;
            }
        }
        &:first-child {
            a {
                padding: 0 20px;
            }
        }
    }

    .multi-blog-wraper {
        justify-content: flex-start;
            padding: 78px 0px 45px 0px;
        @media(max-width: 1200px) {
            justify-content: center;
        }
        .multi-blog {
            .content {
                .desc {
                    background-color: #e8e8e8;
                    width: 100%;
                    h4 {
                        height: 45px;
                        color: #051d49
                    }
                    small,p{
                        color: #051d49;
                    }
                    @media (max-width: 400px) {
                        height: 100px;
                    }
                    span{
                        background-image: url('https://cdn2.hubspot.net/hubfs/3270549/CR%20FIles/arrow-log-blue.png'); 
                    }
                }
            }
        }
    }
    .multi-blog-wraper + .multi-blog {
        // background-color: red;
    }

    .multi-blog .pagination{
        margin-bottom: 75px;
        li a {
            line-height: 27px;
        }
    }
}

// SINGLE POST BLOG 
.hco-single-blog-post {
    .widget-type-blog_content {
        margin-top: 50px;
        margin-bottom: 30px;
        border-right: solid 1px #b5b5b5;
        padding-right: 60px;
        @media(max-width: 767px) {
            padding-right: 0px;
            border-right: none;

        }
    }
    .case-study-post {

        margin-top: 0px;
        margin-bottom: 0px;
        .post-head {
            margin-top: 0px;
            h1 {
                color: hubl("$main_font_color");
                text-align: left;
                font-size: 38px;
                font-weight: 400;
                text-transform: none;
                margin-top: 0px;
            }
        }
        .case-study-post-body {
            margin-top: 0px;

            ul{
                list-style-type: disc;
                li {
                // position: relative;
                display: list-item;
                &:before {
                    display: none; // :(
                    content: "\f00c";
                    font-family: FontAwesome;
                    position: absolute;
                    background-image: none;
                    color:inherit;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    background-position: center;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            } 
            ol li {
                position: relative;
                &:before {
                    counter-increment: li;
                    content: counter(li)'.';
                    position: absolute;
                    width: 16px;
                    background-position: center;
                    left: -25px;
                    top: 50%;
                    display: block;
                    font-size: 16px;
                    line-height: 16px;
                    transform: translateY(-50%);
                    height: 16px;
                }
            }
            blockquote {
                float: none;
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}

// SIDEBAR
.sidebar {
    margin-top: 30px;
    padding-top: 12px;
    
        
        @media(max-width: 767px) {
        	padding-top: 32px;
            border-top: solid 1px #b5b5b5;
            
        }
    .item{
    	margin-bottom: 30px;
    	h3 {
            font-size: 23px;
            color: hubl("$main_font_color");
            font-weight: 400;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }

    .social-list{
    	ul{
    		list-style: none;
    		li{
    			display: inline-block;
    			a{
    				cursor: pointer;
    				i{
    					margin-right: 20px;
    					margin-bottom: 10px;
    					font-size: 22px;
    					color: hubl("$main_font_color");
    					transition: 0.3s all;
    				}
    				&:hover{
    					i{
    						color: hubl("$second_color");
    					}
    				}
    			}
    			&:last-child{
    				a i{
    					margin-right: 0px;
    				}
    			}
    		}
    	}
    }
}


// FOMRS
.hco-single-blog-post {
    ::-webkit-input-placeholder,
     :-moz-placeholder,
     ::-moz-placeholder,
     :-ms-input-placeholder {
        color: #b7b7b7;
    }
    form {
        .hs-form-field {
            margin-bottom: 10px;
        }
        input {
            border: 0;
            border: solid 1px #b5b5b5;;
            margin-top: 0px;
            margin-bottom: 5px;
            color: hubl("$main_font_color");
            font-size: 16px;
            padding: 10px;

        }
        label {
            color: hubl("$main_font_color");
            span {
                color: hubl("$main_font_color");
            }
            position:relative;
        }
        input[type="checkbox"] {
            position: relative;
            height: 3px;
            width: 15px;
            top: -6px;
            margin-right: 3px;
            visibility: hidden;
            +span {
                color: hubl("$main_font_color");
            }
            +span {
                &:before {
                    content: "\f096";
                    position: absolute;
                    top: 5px;
                    left: -1px;
                    display: block;
                    color: #e0e0e0;
                    width: 16px;
                    height: 16px;
                    font-family: "FontAwesome";
                }
            }
            &:checked {
                +span {
                    &:before {
                        content: "\f14a";
                        color: hubl("$first_color");
                    }
                }
            }
        }
        input[type="radio"] {
            position: relative;
            height: 3px;
            width: 15px;
            top: -6px;
            visibility: hidden;
            margin-right: 8px;
            +span {
                color: hubl("$main_font_color");
            }
            +span {
                &:before {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: -1px;
                    background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/radio.png');
                    display: block;
                    /* background-repeat: no-repeat; */
                    width: 16px;
                    height: 16px;
                    background-position: 0px 0px;
                }
            }
            &:checked {
                +span {
                    &:before {
                        background-position: 16px 0px;
                    }
                }
            }
        }
        select {
            background-color: #fff;
            border: 0;
            outline: 0;
            font-size: 16px;
            border-bottom: solid 1px $mainColor;
            color: $secondaryTextColor;
            margin-top: 0px !important;
            appearance: none;
            margin-top: 0px;
            border-radius: 0;
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow_down.png');
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 64%;
        }
        .hs-form-required {
            display: none;
        }
        input[type="submit"] {
            background-color: #051D49;
            color: hubl("$cta_color");
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 12px 45px;
            border: solid 2px #051D49;
            cursor: pointer;
            &:hover {
                background-color: hubl("$cta_hover_background");
                color: #051D49;
                border-radius: 5px;
                border-color: #051D49;
            }
        }
        .hs_submit {
            input {
                color: hubl("$cta_color");
                margin-top: 9px;
                &:hover {
                    color: #051D49;
                }
            }
        }
    }
 }