.slider-custom-posts {
		margin-top: 30px;
		margin-bottom: 30px;
		@media (max-width: 991px){
			margin-bottom: 70px;
		}
		.slick-dots {
			bottom: -30px;

			li {

				button {

					&:before {
						font-size: 40px;
						color: #fff;
						transition: opacity .3s linear;
					}
				}
			}
		}

	.custom-posts{
		
		padding: 15px;
		max-width: 350px;
		width: 95%;
		height: 400px;
		background-size: cover;
		margin: 0px auto;
		padding: 15px 0px;
		.thumb{
			width: 100%;
			height: calc(100% - 80px);
			background-size: cover;
			a {
				transition: all .3s linear;
				display: block;
				width: 100%;
				height: 100%;

				&:hover {

					img {
						box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.2);
					}	
				}
			}
		}
		h4{
			margin: 0px;
			padding: 20px 15px;
			color: #051d49;
			background-color: #fff;
			a{
				color: #051d49;
				line-height: 26px;
			}
		}
	}
}