.hco-footer {
    background-color: transparent;
    position:relative;
    line-height: .9;
    .footer-info {
        line-height:20px;
        overflow: hidden;
    }
    .social-icons {
        margin-top:20px;
        li {
            display: inline-block;
            margin-right:20px;
            &:last-child {
                margin-right: 0;
            }
            a {
                i {
                    color:white;
                    font-size: 30px;
                }

                .fa-linkedin {
                    background-color: #0077B5;
                    padding: 3px 6px;
                    border-radius: 3px;
                }
            }
        }
    }
    .links {
        a {
            &:hover {
                color:white;
                
            }
        }
    }
    > div {
        &:last-child {
            background-color: #051D49;
            position:absolute;
            bottom:0px;
            right: -20px;
            @media (max-width: 500px) {
                position:static;
                //bottom:0;
            }
            img {
                margin-bottom: 8px;
                @media(max-width:500px) {
                    margin-bottom:0;
                    margin: 0 auto 20px auto;
                }
            }
        }
    }
}