.hco-text-and-image{
	display: flex;
	flex-wrap: wrap;
	background-color: #f2f2f2;
	.text{
		width: 45%;
		padding: 50px 50px;
		@media(max-width: 1024px){
			width: 50%;
		}
		@media(max-width: 767px){
			width: 100%;
			order: 2;
			padding: 25px;
		}
		h4{
			color: #051d49;
		}
		.cta_button {
			margin-top: 60px;
		}
	}
	.image{
		width: 55%;
		background-size: cover;
		background-position: center center;
		@media(max-width: 1024px){
			width: 50%;
		}
		@media(max-width: 767px){
			width: 100%;
			height: 200px;
			order: 1
		}
	}
	&.reverse{
		.text{
			order: 2;
			.content{
				text-align: right;
				@media(max-width: 767px){
					text-align: left;
				}
			}
		}
		.image{
			order: 1;
		}
	}
}
