.info-image-box-wrapper>span {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &>div {
        width: 31%;    }
}



.hco-info-image-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    a{
    	display: block;
    	position: absolute;
    	z-index: 2;
    	
    	width: 100%;
    	height: 100%;
    	top: 0px;
    	left: 0px;
    }
    h4{
    	position: absolute;
    	display: block;
    	width: 100%;
    	bottom: 0px;
    	left: 0px;
    	background-color: rgba(0,0,0, .6);
    	padding: 25px 15px;
    	text-align: center;
    	margin: 0px;
    	color: #fff;
    	font-size: 20px;
    	z-index: 3;
    	transition: 0.3s all;


    }
    &:hover{
    	h4{
    		padding-bottom: 35px;
    	}
    }
}