.info-banner{
	min-height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 50px;
	.content{
		background-color: rgba(255,255,255,0.8);
		max-width: 800px;
		padding: 35px;
		h1,h2,h3,h4,h5,h6{
			text-transform: none;
		}
		.hs-cta-wrapper{
			margin-top: 80px;
			display: block;
			text-align: center;
		}
	}
}