
.resource__container {
// background-color: red;
padding: 50px 0px;
}
.resource {
    display: flex;
    margin-top: 50px;
    width: 50%;
  //  background-color: blue;
    padding: 10px 15px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    @media screen and (max-width: 620px) {
        flex-direction: column;
        margin: 0;

    }
    &--vertical {
        flex-direction: column;
        // width: 285px; 
        justify-content: flex-start;
        text-align: center;
        margin: 50px auto 50px;
        width: 25%;
        @media screen and (max-width: 1170px) {
            width: 33.3%;
        }
        @media screen and (max-width: 767px) {
            width: 50%;
        }
        @media screen and (max-width: 620px) {
            width: 100%;
        }
    }
    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
        // display: flex;
        // justify-content: center;
        // //margin: 0 auto;
        // flex-wrap: wrap;
        &--vertical {
            max-width: 1170px;
            margin: 0 auto;
            //  justify-content: flex-start;
            padding-bottom: 100px;
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            //  background-color: pink;
        }
    }
    &__image-container {
        flex-basis: auto;//40%;
        .resource--vertical & {
            flex-basis: auto;
            margin-bottom: 28px;
            @media screen and (max-width: 400px) {
                margin-bottom: 5px;
            }
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        transition: transform .3s, opacity .3s;
        &:hover {
            transform: scale(1.2);
            opacity: .9;
            cursor: pointer;
        }
    }
    &__description {
        // display: none;
        //  -webkit-box-flex: 1;
        //  -ms-flex-positive: 1;
        // flex-grow: 1;
        margin-top: 30px;
        width: 100%;
        .resource--vertical & {
            margin-top: 10px;
            padding-right: 0;
        }
    }
    &__details {
       // margin-left: 10px;
        padding-left: 15px;
        flex-basis: auto; //50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1 0;
         @media screen and (max-width: 620px) {
            padding-left: 0px;
            margin-left: 0px;
         }
        .resource--vertical & {
            margin-left: 0;
            flex-basis: auto;
            text-align: center;
        }
    }
    &__title {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: normal;

        color: hubl("$first_color");
        .resource--vertical & {
            width: 100%;
            padding: 0 5px;
        }
    }
    &__button {
        background: hubl("$cta_background");
        color: hubl("$cta_color");
        padding: 13px 45px;
        border-radius: 5px;
        font-weight: 300;
        text-transform: uppercase;
        border: 2px solid hubl("$cta_background");
        transition: all .2s linear;
        .resource--vertical & {
            display: block;
            margin: 0 auto;
        }
        &:hover {
            background: hubl("$cta_hover_background");
            color: hubl("$cta_hover_color");
            border: 2px solid hubl("$cta_background");
            cursor: pointer;
        }
    }
    &__effects-wrapper {
        height: 300px;
        width: 200px;
        box-shadow: 6px 6px 0 hubl("$cta_background"), 2px 1px 5px rgba(black, .3);
        overflow: hidden;
        background: black;
        @media screen and (max-width: 1170px) {
            margin: 20px auto;

        }
        .resource--vertical & {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 600px) {
    .resource {
        // flex-direction: column;
        // &__description {
        //   padding-right: 35px;
        // }
    }
    .resource__image-container {
       // flex-basis: 50%;
    }
    .resource__details {
        margin-left: 0;
    }
    .resource__title {
        margin-top: 20px;
    }
    .resource__container {
        min-height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .resource__container {
        padding-top: 0;
    }
    .resource {
        //  width: 100%;
    }
}
