.hco-career-submit{
	h2{
		margin-bottom: 0px;
	}
	.form-wrapper{
		background-color: #fff;
		padding: 60px;
		margin-bottom: 80px;
		@media(max-width: 767px){
			padding: 60px 20px;
		}
		h3{
			display: none;
		}
	}

	// FORMS

	form {
        select::-ms-expand {
            display: none;
        }
        .hs-richtext{
            p,span{
                margin-top: 0px;
                margin-bottom: 25px;
                display: block;
                font-weight: 700;
            }
        }
        .hs-field-desc{
                font-size: 12px;
            
            }

        .hs-form-field {
            margin-bottom: 25px;
        }
		.form-columns-2,.form-columns-1, .form-columns-3{
			max-width: 100%;
			  & > div{
				width: 100%;
                input{
                            width: 100%!important;
                        }   
				@media (max-width: 650px), (max-device-width: 480px) and (min-device-width: 320px){
					width: 100%!important;
                    .input{
                        margin-right: 0px;
                        input{
                            width: 100%!important;
                        }       
                    }
				}
			}
		}
        .form-columns-2{
            & > div{
               width: 50%!important;
               @media (max-width: 650px), (max-device-width: 480px) and (min-device-width: 320px){
                    width: 100%!important;
                    .input{
                        margin-right: 0px;
                        input{
                            width: 100%!important;
                        }  
                    }
                }
            }
        }
        .form-columns-3{
            & > div{
               width: 33%!important;
               @media (max-width: 650px), (max-device-width: 480px) and (min-device-width: 320px){
                    width: 100%!important;
                    .input{
                        margin-right: 0px;
                        input{
                           width: 100%!important;
                        }  
                    }
                }
            }
            & > div:last-child{
                .input{
                    margin-right: 0px;
                }
            }
        }
        input:not([type='file'])  {
            border: 0;
            border: solid 1px #b5b5b5;;
            margin-top: 0px;
            margin-bottom: 5px;
            color: hubl("$main_font_color");
            font-size: 16px;
            padding: 10px;

        }
        input[type='file']{
        	border: none;
            margin-top: 10px;
        	color: hubl("$main_font_color");

        }
        label {
            color: hubl("$main_font_color");

            span {
                color: hubl("$main_font_color");

            }
            position:relative;
        }
        input[type="checkbox"] {
            position: relative;
            height: 3px;
            width: 15px;
            top: -6px;
            margin-right: 3px;
            visibility: hidden;
            +span {
                color: hubl("$main_font_color");
            }
            +span {
                &:before {
                    content: "\f096";
                    position: absolute;
                    top: 5px;
                    left: -1px;
                    display: block;
                    color: #e0e0e0;
                    width: 16px;
                    height: 16px;
                    font-family: "FontAwesome";
                }
            }
            &:checked {
                +span {
                    &:before {
                        content: "\f14a";
                        color: hubl("$first_color");
                    }
                }
            }
        }
        input[type="radio"] {
            position: relative;
            height: 3px;
            width: 15px;
            top: -6px;
            visibility: hidden;
            margin-right: 8px;
            +span {
                color: hubl("$main_font_color");
            }
            +span {
                &:before {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: -1px;
                    background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/radio.png');
                    display: block;
                    /* background-repeat: no-repeat; */
                    width: 16px;
                    height: 16px;
                    background-position: 0px 0px;
                }
            }
            &:checked {
                +span {
                    &:before {
                        background-position: 16px 0px;
                    }
                }
            }
        }
        select {
            background-color: transparent;
            border: 0;
            outline: 0;
            font-size: 16px;
            border: solid 1px #b5b5b5;
            color: $secondaryTextColor;
            margin-top: 0px !important;
            appearance: none;
            margin-top: 0px;
            border-radius: 0;
            background-image: url('//cdn2.hubspot.net/hubfs/3270549/CR%20FIles/arrow_down-black.png');
            background-repeat: no-repeat;
            background-position-x: 97%;
            background-position-y: 50%;
            max-width: 100%;
            margin-bottom: 5px;
            padding: 10px;
            width: 100%!important;
             @media (max-width: 650px){
                   
                            width: 100%!important;
                     
                }
        }
        .hs-form-required {
            display: none;
        }
        input[type="submit"] {
            background-color: hubl("$cta_background");
            color: hubl("$cta_color");
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 12px 45px;
            border: solid 2px hubl("$cta_background");
            cursor: pointer;
            &:hover {
                background-color: hubl("$cta_hover_background");
                border: solid 2px hubl("$cta_background");
                color: hubl("$cta_hover_color");
                border-radius: 5px;
            }
        }
        .hs_submit {
            input {
                color: hubl("$cta_color");
                margin-top: 9px;
                &:hover {
                    color: hubl("$cta_hover_color");
                }
            }
        }
    }	
}