.hco-services-page-2 {
	.equal-row{
		padding-right: 30px;
		@media(max-width: 767px){
			padding-right: 0px
		}
	}
	
	.two-column-left-content{
		padding-right: 60px;
		@media (max-width: 768px) {
            padding-right: 0;
        }
	}
	.two-column-equal{
		border-right: none;
	}

	.equal-text-left{
		@media(max-width: 767px){
			padding-right: 0px
		}
	}
	.equal-text-right{
		@media(max-width: 767px){
			padding-left: 0px
		}
	}
	.img-wrap-basic{
		@media(max-width: 767px){
			margin-right: 0px
		}
		img{
			box-shadow: none;
		}
	}

	// SIDEBAR

	.right-sidebar{
		& > div:last-child{
			.sidebar-item{
				border-bottom: none;
			}
		}

		.sidebar-submenu{
			margin-top: 0px;
		}
	}


}