.hco-inside-page-1 {
    .two-column-left-content {
        padding-right: 60px;
        margin-bottom: 60px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
    .main {
        padding: 12px 0px 20px 0;

        .description {
            text-align: left;
            margin-bottom: 30px;
        }
        .cog-list {
            ul {
                li {
                    padding-left: 10px;
                    line-height: 45px;
                    &:before {
                        background: url('https://cdn2.hubspot.net/hubfs/3853984/cog.png');
                        content: '';
                        width:45px;
                        height: 45px;
                        left: -45px;
                    }
                }
            }
        }
        .image-and-text {
            margin: 45px 0;
            h3 {
                margin-top:0px;
            }
        }
    }
    .right-sidebar {
        & > div > div > .sidebar-item:last-child{
            border-bottom: none;
        } 
        .sidebar-submenu{
            border-bottom: none;
        }
        h3 {
            font-size: 23px;
        }
        .related-posts {
            padding-bottom: 20px;
            ul {
                list-style-type: none;
                li {
                    a {
                        color: hubl("$main_font_color");
                        padding: 10px 0;
                        &:hover {
                            color: hubl("$cta_hover_color");
                        }
                    }
                }
            }
        }
    }
}