.hco-career-main-page {


    .info-image-box-wrapper>span {
        margin-top: 30px;
        margin-bottom: 50px;
        &>div {
            @media(max-width: 767px) {
                width: 100%;
                margin-bottom: 25px;
                
            }
        }
    }


    .hco-text-and-image-wrapper{
    	 margin-top: 30px;
        margin-bottom: 20px;
    	& > div{
    		margin-bottom: 40px;
    		padding-bottom: 40px;
    		border-bottom: 1px solid #808080;
    		&:last-child{
    			padding-bottom: 0px;
    			border: none;
    		}
    	}
    }
}