.team-members {
    .name-input-wrapper {
        padding: 10px 20px;
        input,
        .ui-autocomplete {
            padding: 6px;
            display: block;
            border: 1px solid hubl("$first_color");
            box-sizing: border-box;
            max-width: 271px;
        }
        .ui-autocomplete {
            border-top: 0px;
            list-style-type: none;
            // display: block !important;
        }
    }
}