.hco-career-main-page-2 {

    .listing-blog-careers .single-post-wrap {
    	height: auto;
    	@media(max-width: 767px){
			height: 300px;
    	}
        .single-post {
            height: auto;
	    	@media(max-width: 767px){
				height: 300px;
	    	}
            .sinle-post-description {
                height: 242px;
            }
        }
        .sinle-post-description .sinle-post-description-inner .button{
        	border-color: #fff;
        	i{
        		line-height: 49px;
        		margin-top: 0px;
        	}
        }
    }
}

