.contact-main-wrap {

}
.hco-contact {
    .hero-banner.bottom {
        margin-bottom: 0;
    }
}
.form-lighter, .main-content {
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-lighter {
    @media (min-width: 768px) {
        border-left: 1px solid rgba(#626262, .6);
        padding-left: 15px;
    }
    label span {
        color: #626262;        
    }
    .form-title {
        margin: 0;
    }
    form {
        ul li {
            color: #626262;        
        }
        @media (min-width: 768px) {
            margin-left: auto;
            max-width: 490px;
        }
        z-index: 1;
        border-radius: 5px;
        // background-color: rgba(#626262, .6);
        padding: 30px;
        ul {
            list-style: none!important;
        }
        .inputs-list {
            li {
                label {
                    position: relative;
                }
            }
        }
        .hs-error-msgs {
            list-style-type: none;
            margin-top: 5px;
            label {
                font-size: 14px;
            }
        }
        h3 {
            font-family: hubl("$font");
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: hubl("$main_font_color");
            text-align: center;
            padding-top: 20px;
            position: relative;
            span {
                color: hubl("$cta_background");
                margin-left: 2px;
                position: relative;
                letter-spacing: 3px;
            }
        }

        .hs-form-field {
            margin-bottom: 20px;
            box-shadow: none;
            color: hubl("$main_font_color");
            .hs-form-required {
                display: none;
            }
            input,
            textarea {
                border: none;
                border-radius: 4px;
                // color: #626262;
                color: #fff;
                color: #626262;
                background-color: #ffffff;
                // background-color: rgba(#626262, .4);
            }
            .hs-input {
                font-size: 18px;
                font-family: hubl("$font");
                font-weight: 200;
                // height: 55px;
                height: 45px;
                border: 1px solid rgba(#626262, .4);
                padding-left: 13px;
            }
            input[type="checkbox"].hs-input {
                height: 25px;
            }
            input[type="radio"].hs-input {
                height: 25px;
            }
            input[type="checkbox"].hs-input+span {
                padding-left: 9px;
            }
            textarea,
            select {
                margin-top: 0;
                border-radius: 4px;
            }

            select {
                background-color: #fff;
                outline: 0;
                font-size: 16px;
                font-weight: 300;
                border: solid 1px #d3d3d3;
                color: hubl("$main_font_color");
                font-family: Palanquin, sans-serif;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin-top: 0px;
                background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 56%;
                width: 100%;
                height: 55px;
            }
        }
        .hs_submit {
            text-align: center;
        }
        .hs-button.primary.large {
            @extend .cta-primary;
            min-height: 27px;
            min-width: 134px;
            padding-top: 13px;
            padding-bottom: 13px;
            font: 300 22px / 22px hubl("$font");
            margin-bottom: 20px;
            width: 70%;
        }
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(#626262, .7);
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(#626262, .7);
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(#626262, .7);
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(#626262, .7);
    }
    form.hs-form .hs-form-field .input input[type="checkbox"].hs-input+span:before {
        content: none;
    }
    form.hs-form .hs-form-field .input input[type="checkbox"].hs-input:checked+span:after {
        color: #d02130;
    }
}