.hco-career-internal{
	.main-content{
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 80px;
		margin-top: 20px;
		border-right: solid 1px #b5b5b5;
		padding-right: 60px;
		@media (max-width: 767px){
			padding-right: 0px;
			border-right: none;
		}
		h2,h3,h4,h5,h6{
			margin-top: 0px;
		}
		.hs-cta-wrapper{
			margin: 40px auto 0 auto;
			text-align: center;
			display: block;
		}
	}
	.right-sidebar{
		margin-top: 8px;
		@media (max-width: 767px){
			margin-top: 68px;
		}
		.sidebar-submenu{
			border-bottom: none;
		}
	}
	.right-sidebar > div > div > div:last-child{
		border-bottom: none;
	}
}