.hco-home2{
  .img-cta{
    padding:50px 0px 30px;
    background-color:#051d49;
    .hs-cta-img{
      height:auto;
    }
  }
  .blog-post{
      .col-md-3{
        background-color:#051d49;
        padding-bottom:15px;
      }
  }
  a{
    span{
      color:black!important;
    }
  }
	#main_section > div > div{
		span{
      .hs_cos_wrapper{
          .box-services{
            h3{
              text-transform: uppercase;
            }
      }
    }
			.hs_cos_wrapper:nth-child(1){
				.box-services{
            h3{
    					color:#d02130;
    				}
        }
			}
			.hs_cos_wrapper:nth-child(2){
				.box-services{
            h3{
    					color:#051d49;
    				}
        }
			}
			.hs_cos_wrapper:nth-child(3){
				.box-services{
            h3{
    					color:#00b6dd;
    				}
      }
			}
			.hs_cos_wrapper:nth-child(4){
				.box-services{
          h3{
					color:#93397f;
				  }
        }
			}
			h4{
				text-transform: uppercase;
			}
		}
  
	}
  .lead-section{
    padding:50px 0px;
  }
  .icon i{
      
      color:#d02130;

  }
  .icons-section{
    display:none;
  }
  .testimonials .mask, .testimonials .separator--contact__mask{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          background:none!important;
  }
  .testimonials{
    position: relative;
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
    z-index: 0;
  }
  .skills{
    padding:50px 0px;
  }
  .loading-circle h3{
        text-align: center;
    color: #051d49;
    font-weight: 600;
    max-width: 150px;
    margin: auto;
    font-size:16px;
    text-transform: none;
  }
  .circle{
      margin: 0 auto;
        display: block;
        width: 200px;
        height: 200px;
        background-color: white;
  }
  .percent{
    display:none;
  }
	.image-slider2 .slide{
		    height: 500px;
		    background-position: center;
		    background-size: cover;
	}
  .blog-post{
    background-color:#051d49;
    padding-bottom:60px;
  }
	.blog-pos{
		height:400px;
		width:100%;
		display:block;
		background-position:center;
		background-size: cover;
		position:relative;
	}
	.title{
		background-color:#e5e5e5;
		text-align: center;
    	height: 100px;
    	position: absolute;
    	width: 100%;
    	bottom: 0px;
		padding-top: 40px;
    	padding-bottom: 40px;
		color:black;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0px;
	
	}
	.blog-pos:hover .title{

		height:175px!important;
		padding-top:80px;
		padding-bottom:80px;

	}
  .brands-slider__slide{
    text-align:center;
    img{
      display:unset;
    }
  }
	.subscription-arrow__container{
		
		display:none;
	}
	
	.blog-email-subscription input[type="email"]{
		background-color:white;
		color:#000;
	}
	
	.icons-section{
		padding:50px 0px;
				.ico2{
						    width: 200px;
				    height: auto;
				    margin-left: auto;
				    margin-right: auto;
				    display: block;
				    padding:20px 0px;
			}
			.icon-pos{
				margin:auto;
				height:250px;
				width:100%;
			}
			.title2{
				text-align:center;
				color:#051d49;
				font-weight:600;
				max-width:150px;
				margin:auto;
			}
			h3{
				padding-left:20px;
			}
	}
  .awards h2{
      color:#FFFFFF!important;
      background-color: #8a8585 !important;
  }
  .hs-error-msgs{
    bottom: -40px;
    label{
      font-size:18px!important;
    }
  }
  .blog-email-subscription{
      h3{
        font-size:25px!important;
      }
  }

  .five-column span{

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

      .hs_cos_wrapper{
          width:20%;
          position:relative;
      }
        @media (max-width: 768px){

              .hs_cos_wrapper{
                width: 100%;
                float: left;
              }

        }
  }
  @media (min-width: 768px){
    .col-sm-3{
      width:100%;
    }

  }

  .slick-slider{
    margin-bottom:0px;
  }
	.homeslider2 {
  margin-top: 70px; }
  .homeslider2 .mask, .homeslider2 .separator--contact__mask {
    background-color: rgba(0, 0, 0, 0.36);
    height: 100%; }
  .homeslider2 .slick-dots {
    bottom: 30px;
    width: 100%;
    list-style: none;
    text-align: center; }
    .homeslider2 .slick-dots li button:before {
      font-size: 26px; }
    .homeslider2 .slick-dots li.slick-active button:before {
      color: #fff; }
  .homeslider2 .slick-arrow {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }
    .homeslider2 .slick-arrow.slick-prev {
      left: 48px; }
      .homeslider2 .slick-arrow.slick-prev:before {
        content: '';
        background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png");
        background-repeat: no-repeat;
        -moz-background-size: cover;
             background-size: cover;
        width: 30px;
        height: 58px;
        display: block; }
    .homeslider2 .slick-arrow.slick-next {
      right: 48px; }
      .homeslider2 .slick-arrow.slick-next:before {
        content: '';
        background-image: url("//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png");
        background-repeat: no-repeat;
        -moz-background-size: cover;
             background-size: cover;
        -webkit-transform: scaleX(-1);
           -moz-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
             -o-transform: scaleX(-1);
                transform: scaleX(-1);
        width: 30px;
        height: 58px;
        display: block; }
  .homeslider2 .slide {
    position: relative;
    min-height: 500px;
    background-position: center;
    -moz-background-size: cover;
         background-size: cover; }
    @media (max-width: 767px) {
      .homeslider2 .slide {
        height: 350px;
        min-height: 350px; } }
    .homeslider2 .slide .content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      min-width: 55%; }
    
      .homeslider2 .slide .content h1 {
        display: block;
        margin: 0 auto;
        color: #fff;
        font-weight: 300;
        text-align:left; }
        .homeslider2 .slide .content h1 span {
          font-weight: 700;
          color: #d02130; }
      .homeslider2 .slide .content h2,
      .homeslider2 .slide .content h3,
      .homeslider2 .slide .content h4,
      .homeslider2 .slide .content h5,
      .homeslider2 .slide .content h6 {
        color: #fff; }
      .homeslider2 .slide .content p {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        text-align: center; }
      .homeslider2 .slide .content p:last-of-type {
        text-align: center;
        margin-top: 40px; }
        .homeslider2 .slide .content p:last-of-type a.cta_button {
          position: relative;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-right: 10px; }
        .homeslider2 .slide .content p:last-of-type > .hs-cta-wrapper:first-of-type a.cta_button {
          position: relative; }

@media (max-width: 767px) {
  .homeslider2 .slide .content p {
    font-size: 15px; } }

@media (max-width: 480px) {
  .homeslider2 .slide .content h1 {
    width: 100%;
    font-size: 40px; } }
@media (min-width:768px) and (max-width:1110px){
    section.loading-circle .circle{
      width:140px;
      height:140px;
    }
}
}