.hco-hero-banner-blog {
    margin-top: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    margin-bottom: 0px;
    @media (max-width: 767px) {
        height: 300px;
    }
    .hero-banner-wrap {
        z-index: 5;
        width: 100%;
        margin: 0 auto;
        position: relative;
        max-width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        h1,h2,h3,h4,h5{
            text-align: left;
            color: #fff;
            text-transform: none;
        }

        h1 {
            color: #fff;
            font-weight: 300;
            font-size: 58px;
            padding: 0 0px;
        }

        h2 {
            color: #fff;
            font-weight: 300;
            font-size: 58px;
            padding: 0 0px;
            @media(max-width: 767px) {
                font-size: 40px;
            }
            span {
                color: hubl("$cta_background");
                font-weight: 600;
            }
        }
       
    }
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background: #d01b24!important;
        opacity: 0;
        z-index: 1;


    }
    .triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background: #d01b24;
        opacity: 0.95;
        z-index: 3;
        @media (max-width: 567px) {
            width: 100%; 
            opacity: 0.85;

        }
         &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 400px 400px 0 0;
            border-color: #d01b24 transparent transparent transparent;
            @media (max-width: 767px) {
                border-width: 300px 300px 0 0;
            }
            @media (max-width: 567px) {
                display: none;
            }
        }
    }
    .triangle-below{
        position: absolute;
        top: 0;
        left: 0;
        width: calc(30% + 50px);
        height: 100%;
        background: #d01b24;
        opacity: 0.45;
        z-index: 2;
        @media (max-width: 767px) {
            height: 300px;
        }
        @media (max-width: 567px) {
                display: none;
            }
        &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 400px 400px 0 0;
            border-color: #d01b24 transparent transparent transparent;
             @media (max-width: 767px) {
                border-width: 300px 300px 0 0;
            }
        }
    }
    &.bottom{
        .triangle {
            &:after{
                border-width: 400px 0 0 400px;
                border-color:  transparent transparent transparent #d01b24;
                @media (max-width: 767px) {
                    border-width: 300px 0 0 300px;
                }
            }

        }

        .triangle-below {
             &:after{
                border-width: 400px 0 0 400px;
                border-color:  transparent transparent transparent #d01b24;
                @media (max-width: 767px) {
                    border-width: 300px 0 0 300px;
                }
            }
        }
    }
}