.homepage.hco-home{
	.smart-rich-text{
		img{
			height: auto;
		}
	}
	//
	.services{
		.box-services .desc{
			margin-bottom: 20px;
		}
	}
	//
	.product-single__slider-section{
		background-color: #051d49;
		margin-bottom: 0px;
		padding-top: 25px;
		h2{
			margin: 0px;
		}
		h2,p{
			color:#fff;
			span{
				color: #fff;
			}
		}
		.slider-rec-posts,
		.slider-custom-posts  {
			margin-top: 10px;
			margin-bottom: 5px;
			@media(max-width: 991px){
				margin-bottom: 60px;
			}
			&__slide{
				padding: 15px 2px;
				h4{
					background-color: #e8e8e8;
					a{
						color: #051d49;
					}
				}
			}
		}
	}
	//
	.brand-slider-wrapper{
		background-color: #e8e8e8;
		padding-top: 40px;
		padding-bottom: 40px;
		.brand-slider .slick-slider{
			margin-bottom: 0px;
		}
		.brands-slider__slide{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			a{
				display: block;	
				// width: 100%;
				// height: 100%;
				text-align: center;
				img{
					margin: 0 auto;
				}
			}
		}
		// SLICK CENTER < SLIDE TO SHOW
       
        .slick-dots {
        	display: block;
            left:0;
		    bottom: -30px;
		    width: 100%;
		    list-style: none;
		    text-align: center;
		    li{
		    	button:before{
		    		font-size:26px;
		    	}
		    	&.slick-active{
					button:before{
						color:#051d49;
					}

		    	}
		    }
		}
        
        .slick-list{
            min-width: 100% !important;
            display:flex;
            justify-content:center;
            margin: 0!important;
            
        }
        .slick-arrow{
            display:none!important;
        }
        button.slick-prev.slick-arrow + div.slick-list{
            display:block;
        }
	}
	//
	.text-and-image{
		padding: 50px 0px;
	}
}